{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="quote col-md-12">
        <blockquote>Test test test</blockquote>

        <p class="source">Source Goes Here</p>

        <img class="logo" src="{{ S3_BASE_URL }}/img/npr-home.png">
    </div>

    <div class="controls col-md-12">
        <div class="controls-wrapper">
            <div class="btn-group">
                <button id="news" class="btn btn-large btn-primary">News</button>
                <button id="music" class="btn btn-large btn-default">Music</button>
            </div>
            <button id="save" class="btn btn-large btn-primary">Save image</button>
        </div>
    </div>
</div>
{% endblock %}
