{% extends '_base.html' %}


{% block outer_content %}
<header>
    <div class="header-wrapper">
        <h1>Quotable</h1>
        <a class="pull-right" href="http://tools.apps.npr.org"><img src="{{ S3_BASE_URL }}/img/npr-apps-logo.png"></a>
    </div>
</header>
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-news">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p>I&rsquo;ve made a huge mistake.</p></blockquote>

            <p class="source">&mdash; G.O.B.</p>

            <p class="logo-wrapper">
                <img class="logo logo-news" src="./img/npr-home.png">
                <img class="logo logo-music" src="./img/npr-music.png">
                <img class="logo logo-fresh-air" src="./img/fresh-air.png">
                <img class="logo logo-snap-judgement" src="./img/snap-judgement-logo.png">

            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label>Theme</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="news" class="btn btn-default btn-primary">News</button>
                            <button id="music" class="btn btn-default">Music</button>
                            <button id="fresh-air" class="btn btn-default">Fresh Air</button>
                            <button id="snap-judgement" class="btn btn-default">Snap Judgement</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Aspect ratio</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="square" class="btn btn-default btn-primary">Square</button>
                            <button id="two-to-one" class="btn btn-default">2:1 <small>(Twitter)</small></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary">On</button>
                            <button class="btn btn-default">Off</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fontsize">Font Size</label>
                        <input id="fontsize" name="fontsize" type="range" min="32" max="106">
                    </div>
                    <div class="form-group">
                        <label for="show">Show Attribution</label>
                        <input id="show" name="fontsize" type="text">
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
